*{
    margin: 0;
}
.container{
	position: absolute;
	left: 50%;
	top: 50%;
/*	border: 5px solid black;*/
	width: 380px;
	height: 186px;
	margin-left: -140px;
	margin-top: -93px;
}
.demo1,
.demo2,
.demo3,
.demo4,
.demo5{
	position: absolute;
    width: 100px;
    height: 100px;
    border:10px solid black;
    border-radius: 50%;

}
.demo1{
	border-color: blue;

}
.demo2{
	border-color: black;
	margin-left: 130px;
	margin-top: 0;
}
.demo3{
	border-color: red;
	margin-left: 260px;
	margin-top: 0;
}
.demo4{
	border-color: yellow;
	margin-left: 65px;
	margin-top: 70px;
}
.demo5{
	border-color: green;
	margin-left: 195px;
	margin-top: 70px;